.poster{
    height: 100%;
    width: 100%;
}

.company{
    padding-top: 2%;
    display: flex;
   padding-left: 2%;
    gap: 9%;
    align-items: center;
}
.company3{
    gap: 14%; 
    padding-top: 2%;
    display: flex;
    padding-left: 2%;
    align-items: center;
    padding-bottom: 3%;
}
.details{
font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 60px;
text-align: center;
padding-left: 10%;
padding-right: 10%;
}
.about-txt ,.name , .featured{
font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: 550;
font-size: 44px;
line-height: 52px;
text-align: center;
}